body{
    background-color: #344a72;
    font-family: 'Roboto Slab', serif;
}
.signup-box{
    width: 360px;
    height: 1001px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding-top: 15px;
}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray ;
    border-radius: 6px;
    outline: none;
}
input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: aquamarine;
    color: white;
    font-size: 18px;
}
p{
    text-align: center;
}
.para-2{
    text-align: center;
    color: white;
    margin-top: 10px;
}
.para-2 a{
    color: red;
}
.login-box{
    width: 360px;
    height: 270px;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}
